<section>
    <article id="a1">
        <header>Building Knowledge</header>
        <p class="content"><%= Faker::Lorem.paragraphs(3).join(" ") %></p>
        <footer></footer>
    </article>
   <!--  <article id="a2">
        <header>Building Community</header>
        <p class="content"></p>
        <footer></footer>
    </article>
    <article id="a3">
        <header>Building a Future</header>
        <p class="content"></p>
        <footer></footer>
    </article> -->
</section>

<script type="text/javascript">
    // $(document).ready(function() {
    //     $("#main section article .content").lorem({ type: 'paragraphs', amount: 1, ptags: true });
    // });
</script>