body{
    background-color:gray;

    #container{
        margin:0 auto;
        width:900px;
        background-color:white;

        >header{
            font-size:32pt;
            color:gold;
        }

        #main{

        }

        >footer{

        }
    }
}