<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <title>Enlightenment Labs</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <%= csrf_meta_tags %>

    <script src="/javascripts/libs/modernizr-2.0.6.min.js"></script>
    <%= javascript_include_tag "application" %>

    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <%= stylesheet_link_tag    "application", :media => "all" %>
  </head>
  <body>
    <div id="container">
      <header>
      </header>

      <div id="main" role="main">
        <%= yield %>
      </div>

      <footer>
      </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.s"></script>
    <script>window.jQuery || document.write('<script src="/javascripts/libs/jquery-1.7.1.min.js"><\/script>')</script>
    <script defer src="/javascripts/plugins.js"></script>
    <script defer src="/javascripts/script.js"></script>

    <script> // Change UA-XXXXX-X to be your site's ID
      // window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
      // Modernizr.load({
      //   load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
      // });
    </script>
  </body>
</html>
